.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #cac7c7;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #0327cb;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    margin-right: 200px;
    padding: 1px 16px;
    height: 100%;
}

.scrollable-content {
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    max-height: 750px;

}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}